# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# OS/system files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
.cache/

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace

//